@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600;900&display=swap');

.swapMain {
  font-family: 'Titillium Web';
  text-align: center;
  background-color: #140416;
  min-height: 100vh;
}

body {
  max-width: 100%;
  margin: 0 auto;
}

#root {
  min-height: 100vh;
}

/******************************************************************************/
/* Swap Navbar */
.appNav {
  display: flex;
  justify-content: space-around;
}
.afroSwap {
  width: 90px;
  height: 76px;
}
.rightNav {
  float: right;
}



.pageButtonBold {
  font-weight: 800;
}

.buttonContainer {
  font-weight: 600;
  font-size: 24px;
  display: inline-block;
}

.buttonContainerTop {
  margin-left: 175px;
  color: #FDFCFE;
}

.connectButton {
  /* Created with https://www.css-gradient.com */
  background: #9847FF;
  background: -webkit-linear-gradient(right, #9847FF, #DF31FA);
  background: -moz-linear-gradient(right, #9847FF, #DF31FA);
  background: linear-gradient(to left, #9847FF, #DF31FA);
  border-radius: 12px !important;
  font-weight: 700;
  font-size: 16px;
  color: #FDFCFE !important;
}

.connectButtonContainer {
  display: flex;
  margin-right: 10px;
}

.connectButton:hover {
  background: #FDFCFE;
  border-color: #9847FF !important;
  color: #9847FF;
}

.hoverBold:hover {
  font-weight: 800;
}

/******************************************************************************/
/* Swap Container */
.appBody {
  height: 100%;
  padding-top: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swapContainer {
  background-color: #FDFCFE;
  width: 472px;
  height: 340px;
  top: 300px;
  border-radius: 12px;
  padding: 6px;
}

.swapHeader {
  text-align: left;
  padding: 4px 20px 0px 20px;
}

.swapText {
  color: #2C0A32;
  font-size: 20px;
  font-weight: 600;
}

.gearContainer {
  float: right;
  font-size: 22px;
  color: #2C0A32;
}

/******************************************************************************/
/* Currency Input */
.currencyInput {
  background-color: #F8D6FE;
  margin: 10px !important;
  padding: 10px;
  border-radius: 12px;
  width: 440px;
  height: 80px;
  opacity: 0.8;
}
.currencyInput:hover {
  border-color: #DE31FA !important;
  border: 1px solid;
}
::placeholder {
  opacity: 0.25;
}
.numberContainer {
  text-align: left;
}
.spinnerContainer {
  height: 55px;
  line-height: 55px;
}
.currencyInputField {
  font-size: 28px;
  display: inline-block;
  width: 100%;
  border: none !important;
  outline: none;
  background-color: #F8D6FE;
}
.tokenContainer {
  text-align: right;
}
.tokenWrapper{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.tokenName {
  font-size: 16px;
  color: #DE31FA;
  width: 85px;
  height: 40px;
  border-radius: 12px;
  border: 1px solid #DE31FA;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px 0px 8px 8px;
}
.ethereumIcon {
  width: 24px;
  height: 24px;
}
.balanceContainer {
  display: block;
}
.balanceAmount {
  width: 100%;
  font-size: 16px;
  display: inline;
  color: #DE31FA;
}

/******************************************************************************/
/* Ratio */
.ratioContainer {
  text-align: left;
  margin-left: 10px;
  height: 28px;
}


/******************************************************************************/
/* Swap Button */
.swapButtonContainer {
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.swapButton {
  width: 186px;
  height: 58px;
  background: #9847FF;
  background: -webkit-linear-gradient(right, #9847FF, #DF31FA);
  background: -moz-linear-gradient(right, #9847FF, #DF31FA);
  background: linear-gradient(to left, #9847FF, #DF31FA);
  line-height: 22px;
  font-size: 16px;
  font-weight: 600;
  color: #FDFCFE;
  border-radius: 12px;
  cursor: pointer;
  padding: 18px 32px;
  gap: 8px;
  

  
}

/******************************************************************************/
/* Config Modal */

.modaly {
  position: fixed;
  left: 0;
  top: -510px;
  right: -110px;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(86, 90, 105);

}

.modal-content {
  background-color: #fff;
  width: 300px !important;
  padding: 0px 15px;
  background-color: rgb(237, 238, 242) !important;
  border: 1px solid rgb(206, 208, 217) !important;
  border-radius: 12px !important;
}

.modalTitle {
  margin: auto;
}

.titleHeader {
  margin-left: -12px;
}
.labelField {
  padding-left: 0px !important;
}
.fieldContainer {
  padding-left: 0px !important;
}
.inputField {
  padding-left: 10px;
  border-radius: 36px;
  border: 1px solid #65cdee;
  height: 2rem;
  margin: 10px 0;
  width: 100%;
}
.inputFieldUnitsContainer {
  padding-left: 0px !important;
  padding-top: 14px;
}